@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,400;1,700&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Lugrasimo&family=Noto+Kufi+Arabic:wght@300;400;500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Preahvihear&family=REM:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;1,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,400;1,700&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Lugrasimo&family=Marhey:wght@300;400;500;600;700&family=Noto+Kufi+Arabic:wght@300;400;500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Preahvihear&family=REM:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;1,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,400;1,700&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Lugrasimo&family=Marhey:wght@300;400;500;600;700&family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Preahvihear&family=REM:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;1,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,400;1,700&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Lugrasimo&family=Marhey:wght@300;400;500;600;700&family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Preahvihear&family=REM:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;1,300;1,500&display=swap');



:root{
    --color2: #fff;
    ---color2: #000;
    --color3: rgb(199, 165, 127);
    --color-4: rgb(244 239 236);
    --color-4-2: rgb(231 219 206);
    --color-5:rgb(48 73 93);
    --color-6: rgb(40 40 37);
    --font-f: 'Noto Kufi Arabic', sans-serif;
    --font-f2: 'Marhey', cursive;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-f);
    user-select: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
    background-color: var(--color3);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-5);
}

::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}


html{
    font-family: var(--font-f);
    background-color: var(--color-6);
}

.header{
    float: right;
    display: flex;
    background-color: transparent;
}

.menu, .btn .text{
    background-color: transparent;
    color: var(--color2);
    border: 2px solid var(--color3);
    border-radius: 55px;
    margin-top: 25px;
    margin-right: 60px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 35px;
    padding-left: 35px;
    transition: 0.5s;
}

.menu:hover, .btn .text:hover{
    filter: blur(1px);
}

.menu i{
    padding-left: 4px;
    font-size: 19px ;
    transition: 0.5s;
}

.menu .text, .cont .text, .btn .text{
    color: var(--color2);
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
    transition: 0.5s;
}

.cont .menu{
    margin-top: 30px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: var(--color3);
    transition: 0.5s;
}

.cont .menu:hover{
    background-color: transparent;
    color: var(---color1);
    border: 2px solid var(--color3);
}


.container {
    margin-top: 50px;
}

.container .button {
    color: var(--color3);
    background-color: var(--color-5);
    border: 2px solid transparent;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    padding: 8px 55px;
    transition: 0.5s;
}

.container .button:hover{
    color: var(--color2);
    background-color: transparent;
    border: 2px solid var(--color3);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: right;
    justify-content: right;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    background-color: var(--color3);
    padding: 20px;
    width: 1000px;
    height: 100vh;
    transform: scale(0);
    transition: transform 0.3s ease;
}

.overlay .modal .name1, .overlay .modal .name2{
    font-family: var(--font-f2);
    color: var(--color-5);
    font-size: 23px;
    font-weight: 300;
    padding-left: 50px;
    transition: 0.5s;
}

.overlay .modal .name1:hover, .overlay .modal .name2:hover{
    color: var(--color-6);
}

.overlay.active .modal {
    transform: scale(1);
}

.overlay .modal .colum {
    direction: rtl;
    float: right;
    text-align: right;
    padding-top: 200px;
    line-height: 100px;
    font-size: 43px;
    font-family: var(--font-f);
    font-weight: 500;
}

.overlay li{
    list-style: none;
}

.overlay li a{
    color: var(--color-4);
    background-color: transparent;
    transition: 0.5s;
}

.overlay li .pro{
    color: var(--color-5);
    background-color: transparent;
    transition: 0.5s;
}

.overlay li a:hover{
    color: var(--color-5);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 40px;
    color: var(--color-5);
    cursor: pointer;
}




.link{
    float: right;
    color: var(--color2);
    font-weight: 200;
    font-size: 16px;
    padding-right: 30px;
    padding-top: 40px;
    transition: 0.5s;
    cursor: default;
    user-select: none;
}

.link a{
    transition: 0.5s;
    color: var(--color2);
    font-weight: 200;
    font-size: 16px; 
    transition: 0.5s;
    cursor: default;
    text-decoration: none;
}

.link a:hover{
    color: var(--color3);
}

.website .bck{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.website .bck img, .bc-color{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.322);

}

.bc-color{
    background: transparent;
    height: 270px;
}

.logo{
    margin-top: -100px;
    margin-right: 450px;
}

.logo img{
    width: 400px;
    height: 370px;
}

.phone .content{
    display: flex;
    margin-right: 250px;
    margin-top: 40px;
}

.phone .content .icon{
    color: var(--color2);
    padding-left: 15px;
}

.phone .content a{
    color: var(--color2);
    font-size: 14px;
    transition: 0.5s;
    text-decoration: none;
}

.phone .content .number a:hover{
    color: var(--color3);
}


.lng {
    color: var(--color2);
    border: 2px solid var(--color3);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    margin-top: 40px;
    margin-right: 80px;
    padding-top: 3.2px;
    transition: 0.5s;
}

.lng:hover{
    color: var(--color2);
    border: 2px solid transparent;
    background-color: var(--color3);
}

.website{
    height: 10vh;
}

.main{
    width: 100%;
    height: 90vh;
}

.main .first{
    color: var(--color-4);
    width: 100%;
    display: flex;
    direction: rtl;
    text-align: center;
    align-items: center;
}

.main .first .messege{
    text-align: center;
    align-items: center;
    font-size: 70px;
    color: var(--color-4-2);
    font-family: var(--font-f2);
    padding-right: 400px;
}

.main .coloum1{
    float: right;
    direction: rtl;
    margin-top: 150px;
    margin-right: 100px;
}

.main .coloum1 .c1, .c2, .c3, .main .coloum2 .c1, .c2, .c3{
    font-size: 20px;
    line-height: 70px;
    color: var(--color-4-2);
}

.main .coloum1 .c1, .main .coloum1 .c2, .main .coloum1 .c3{
    display:  flex;
}

.main .coloum1 .c1 img, .main .coloum1 .c2 img, .main .coloum1 .c3 img{
    width: 36px;
    height: 36px;
    margin-top: 20px;
    margin-left: 20px;
}

.main .image img{
    margin-left: 800px;
    margin-top: 100px;
}

.main .coloum2{
    float: left;
    direction: rtl;
    color: var(--color3);
    margin-top: -280px;
    margin-left: 100px;
}

.main .coloum2 .c1, .main .coloum2 .c2, .main .coloum2 .c3{
    display:  flex;
}

.main .coloum2 .c1 img, .main .coloum2 .c2 img, .main .coloum2 .c3 img{
    width: 36px;
    height: 36px;
    margin-top: 20px;
    margin-left: 20px;
}


.projects{
    background-color: var(--color-4);
    width: 100%;
    height: auto;
}

.projects .title{
    width: 100%;
}

.projects .title h1{
    color: var(--color-5);
    font-size: 65px;
    font-family: var(--font-f2);
    direction: rtl;
    text-align: center;
    padding-top: 80px;
    margin-bottom: 180px;
    width: 100%;
}

.projects .row1, .row2{
    display: flex;
}

.projects .row1 .card1 img, .card2 img, .row2 .card3 img, .card4 img{
    border-radius: 15px;
}

.projects .row1 .card1 .main .name, .projects .row1 .card2 .main .name, .projects .row2 .card3 .main .name, .projects .row2 .card4 .main .name{
    padding-left: 250px;
    padding-bottom: 30px;
    color: var(--color3);
}

.projects .row1 .card1 .main .name span, .projects .row1 .card2 .main .name span, .projects .row2 .card3 .main .name span, .projects .row2 .card4 .main .name span{
    font-family: var(--font-f2);
    font-size: 25px;
}

.projects .row1 .card1 {
    margin-left: 100px;
}


.projects .row1 .card2 {
    margin-left: 400px;
}


.projects .row2 .card3 {
    margin-left: 100px;
}


.projects .row2 .card4 {
    margin-left: 400px;
}

.map{
    height: 20vh;
    width: 100%;
}

.map .photo img{
    float: right;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 6rem;
    margin-left: 80px;
}

.map .text{
    text-align: right;
    margin-right: 40px;
}

.map .text .title h1{
    color: var(--color2);
    font-family: var(--font-f2);
    font-size: 70px;
    padding-right: 40px;
    padding-top: 100px;
}

.map .text .nother .p{
    color: var(--color-4-2);
    font-size: 30px;
    line-height: 70px;
}

.map .text .nother .two{
    color: var(--color3);
    font-size: 18px;
    line-height: 50px;
}

.contact{
    width: 100%;
    height: 100vh;
    background-color: var(--color-6);
    align-items: center;
    text-align: center;
    margin-top: 400px;
    background-color: var(--color-4-2);
}

.contact .title h1{
    color: var(--color-5);
    font-size: 6.25rem;
    font-family: var(--font-f2);
    line-height: 85px;
    padding-top: 70px;
}

.contact .inputes{
    margin-top: 150px;
}

.contact .inputes .name input, .contact .inputes .number input, .contact .inputes .message input{
    color: var(--color2);
    font-size: 20px;
    background-color: transparent;
    border-bottom: 1px solid var(--color3);
    padding-bottom: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
    text-align: center;
    width: 1000px;
}

.contact .inputes .number input, .contact .inputes .message input, .contact .inputes .name input{
    margin-top: 30px;
    padding-right: 20px;
}

.contact .inputes .message input{
    border: 1px solid var(--color3);
    height: 200px;
    border-radius: 10px;
}


.contact .inputes input::placeholder{
    text-align: right;
    color: var(--color-5);
    font-size: 20px;
    font-weight: 100;
}

.contact .btn{
    margin-top: 80px;
}

.contact .btn .butn{
    color: var(--color3);
    background-color: var(--color-5);
    border: 2px solid transparent;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    padding: 8px 35px;
    transition: 0.5s;
}

.contact .btn .butn:hover{
    color: var(--color-5);
    background-color: transparent;
    border: 2px solid var(--color3);
}


